footer{
	color: #FFFFFF;
       	height: 60px;
       	width: 100%;
       	position:fixed;
       	display: flex;
       	justify-content: center;
	border-top: 1px solid #CCCCCC;
}
footer > p{
	text-align: center
